<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./vue2.js"></script>
    </head>
    <body>
        <div id="app">
                <input type="text" v-model="a" >+
                <input type="text" v-model="b" >=
                <input type="text" v-model="c" >
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    a:"",
                    b:"",
                    c:''
                },
                watch: {
                    a(newVal,oldVal){
                        // this.c=this.a+"===="+this.b
                        this.c=newVal+"===="+this.b
                    },
                    b(newVal,oldVal){
                        this.c=this.a+"===="+newVal
                    },
                    c(newVal,oldVal){
                        var aa=newVal.split("====")
                       this.a=aa[0]
                       this.b=aa[1]
                    }
                },
            })
        </script>
    </body>
</html>