<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./vue2.js"></script>
    <link rel="stylesheet" href="./bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">汽车品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <form action="">
                <label >
                    Id:
                    <input type="text" required  class="form-control" v-model="id">

                    <label>
                        Name:
                        <input type="text" required  class="form-control" v-model="name">
                    </label>


                    <input type="button"  class="btn btn-primary" value="添加" @click="add">

                    <label>
                        搜索关键字:
                        <input autofocus type="text" class="form-control" v-model="ss">
                    </label>
                </form>
            </div>


        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) of list">
                    <td>{{item.id}}</td>
                    <td>{{item.name }}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <a href="#" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
             
            </tbody>
        </table>




    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id:"",
                name:"",
                ss:"",
                list:[
                    {id:1,name:"本次",ctime:new Date()},
                    {id:2,name:"保安",ctime:new Date()},
                ]
            },
            methods: {
                add(){
                    let car={id:this.id,name:this.name,ctime:new Date()}
                    if(this.id!=""&&this.name!=""){
                        this.list.push(car)
                        this.id=this.name=""
                    }
                    
                },
                del(id){
                    this.list.some((item,index)=>{
                        if(item.id==id){
                            this.list.splice(index,1)
                            return true
                        }
                    })
                }
            },
        })
    </script>
</body>

</html>